#  02. Pandas 读取数据

本代码演示：
1. Pandas读取纯文本文件
    * 读取csv文件
    * 读取txt文件
2. pandas 读取xlsx格式excel文件
3. pandas 读取mysql数据表

In [1]:
import pandas as pd

# 1、 读取纯文本文件

**1.1 读取csv，使用默认的标题行、逗号分隔符**

In [2]:
fpath = "./datas/ml-latest-small/ratings.csv"

In [3]:
#使用pd.read_csv读取csv文件
ratings = pd.read_csv(fpath)

In [6]:
#查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
#查看数据的形状，返回（行数，列数）
ratings.shape

(100836, 4)

In [9]:
#查看列名列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [10]:
#查看索引列
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [11]:
#查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

**1.2 读取txt文件，自己指定分割符、列名**

In [14]:
fpath="./datas/crazyant/access_pvuv.txt"

In [15]:
pvuv=pd.read_csv(fpath, sep="\t", header=None,names=['date','pv','uv'])

In [16]:
pvuv

         date   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

# 2、读取excel文件

In [17]:
fpath="./datas/crazyant/access_pvuv.xlsx"

In [18]:
pvuv=pd.read_excel(fpath)

In [19]:
pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

# 3、读取MySql数据库

In [21]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.4 MB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pymysql
conn = pymysql.connect(host="127.0.0.1", user="root",password="admin",database='test',charset='utf8')

In [24]:
mysql_customers=pd.read_sql("select * from customers", con=conn)
mysql_customers

,id,name,email,birth,photo
0,1,汪峰,wf@126.com,2010-02-02,None
1,2,王菲,wangf@163.com,1988-12-26,None
2,3,林志玲,linzl@gmail.com,1984-06-12,None
3,4,汤唯,tangw@sina.com,1986-06-13,None
4,5,成龙,Jackey@gmai.com,1955-07-14,None
5,6,迪丽热巴,reba@163.com,1983-05-17,None
6,7,刘亦菲,liuyifei@qq.com,1991-11-14,None
7,8,陈道明,bdf@126.com,2014-01-17,None
8,10,周杰伦,zhoujl@sina.com,1979-11-15,None
9,13,张学友,zhangxy@126.com,1998-12-21,None
10,16,朱茵,zhuyin@126.com,2014-01-16,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
11,18,莫扎特,beidf@126.com,2014-01-17,None
12,19,哪吒,nezha@gmail.com,1000-01-01,None
13,20,张三,zhangsan@yahoo.com,1999-01-01,None
14,21,李四,lisi@gmail.com,1971-05-19,None
15,22,John,john@gmail.ca,1990-01-01,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...
16,24,Jenny,Jenny@gmail.com,1971-05-19,None
17,25,Jenny,Jenny@gmail.com,1971-05-19,None
18,26,Jack,Jack@yahoo.com,2020-01-01,None
19,27,Jack,Jack@yahoo.com,2020-01-01,None